@keyframes scale1 {
  from {scale: 0;}
  50% {scale: 50%;}
  to {scale: 100%;}
}

header {
  background-image: url("../img/1.jpg");
  background-size: cover;
}

.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: auto;
  height: 50px;
  transform-style: preserve-3d;
}

.block {
  width: 50px;
  height: 50px;
  background-color: rgba(118, 185, 0, 0.1);
  box-sizing: border-box;
  border: 1px solid darkgreen;
  border-radius: 10px;
  transition:0.05s;
  & img {
    width: 15px;
  }
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 2px 5px;
    background-color: rgba(118, 185, 0, 1);
  }
}


