@keyframes scale1 {
  from {scale: 0;}
  50% {scale: 50%;}
  to {scale: 100%;}
}

.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: auto;
  height: 50px;
  transform-style: preserve-3d;
}

.block {
  width: 50px;
  height: 50px;
  background-color: green;
  box-sizing: border-box;
  border: 2px solid darkgreen;
  border-radius: 10px;
  animation: scale1  2s infinite ease-in-out;
  transform: rotateX(0deg);
  transition:0.5s;
  & img {
    width: 15px;
  }
  &:hover {
    transform: rotateX(180deg);
  }
}


