body {
	position: relative;
	// background-image: url(../img/Bozhya-korovka-58-768x665.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(250, 250, 250, 0.7);
	background-blend-mode: overlay, color;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: inhtrit;
  border: 25px solid white;
  transition-duration: 0.4s;
}

.circle:hover {
	border: 25px solid blue;
}

.circle::before {
	position: absolute;
  content: "";
  
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: white;
  transition-duration: 0.4s;
}

.circle:hover::before {
	width: 205px;
  height: 205px;
  background-color: blue;	
}